---
---

// @supports (font-variation-settings: normal) {
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(Literata[opsz,wght].woff2) format('woff2'); // -variations
  // unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url(Literata-Italic[opsz,wght].woff2) format('woff2');
  // unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  // font-variation-settings: 'wght' 630, 'wdth' 88;
  font-weight: 400;
  font-style: normal;
}
