<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="UTF-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    </head>
    <body>

        <!-- h1>{{ site.title }}</h1 -->

{{ content }}

        <footer>
            {{ site.time | date: "%Y" }} <a href="{{ owner_url }}">{{ site.author }}</a> <!-- {{ owner_name }} -->
            &mdash; <a href="{{ site.github.repository_url }}">Repository</a>
            &mdash; <a href="{% github_edit_link %}">Edit this page</a>
        </footer>

    </body>
</html>
